.paletteContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.paletteColor {
    width: 24px;
    height: 24px;
    border: 1px solid #aaa;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.selected {
    border: 3px solid black;
}